/* FONTS */
@font-face {
  font-family: "gtfr";
  src: url(/assets/webfonts/mateifont/GT-Flexa-Regular-Trial.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gtfri";
  src: url(/assets/webfonts/mateifont/GT-Flexa-Regular-Italic-Trial.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "gtfxc";
  src: url(/assets/webfonts/mateifont/GT-Flexa-X-Compressed-Black-Trial.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gtfxcb";
  src: url(/assets/webfonts/mateifont/GT-Flexa-X-Compressed-Bold-Trial.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "gtfxe";
  src: url(/assets/webfonts/mateifont/GT-Flexa-X-Expanded-Black-Trial.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gtfxeb";
  src: url(/assets/webfonts/mateifont/GT-Flexa-X-Expanded-Bold-Trial.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* ANIMATIONS */

@keyframes slide-first-line {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-1300px);
  }
}

@keyframes slide-second-line {
  from {
    transform: translateX(-1030px);
  }

  to {
    transform: translateX(0px);
  }
}


/* MAIN CSS */

body {
  background-color: rgb(0, 6, 47);
  color: #fff500;
  border: 5px solid #fff500;
  font-family: gtfr;
  height: 95vh;
  overflow: hidden;
}

.italic{
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

/* Header */

.first-line, .second-line{
  border-bottom: 5px solid #fff500;
  overflow: hidden;
}

.first-line .marquee{
  animation: slide-first-line 30s infinite linear;
  display: flex;
}

.first-line h2{
  font-family: gtfxc;
  font-size: 9rem;
  margin: 0px;
  margin-top: -25px;
  padding-bottom: 5px;
  min-width: 650px;
}

.first-line h2:nth-child(odd){
  color: transparent;
  -webkit-text-stroke: 2px #fff500;
}

.second-line .marquee{
  animation: slide-second-line 30s infinite linear;
  display: flex;
}

.second-line h4{
  font-family: gtfxcb;
  font-size: 3rem;
  margin: 0px;
  padding: 5px 0px;
  min-width: 515px;
}

.second-line h4:nth-child(odd){
  color: transparent;
  -webkit-text-stroke: 2px #fff500;
}

/* Main part */
.main-part{
  display: flex;
  height: auto;
}

.images{
  width: 70%;
}

.images .circle{
  position: absolute;
  background-color: #fff500;
  border-radius: 50%;
}

.images .circle.small{
  bottom: 70px;
  left: 450px;
  z-index: 10;
  height: 40px;
  width: 40px;
}

.images .circle.big{
  bottom: 50px;
  left: 50px;
  z-index: -10;
  height: 370px;
  width: 370px;
}

.images .benjamin{
  position: absolute;
  bottom: 18px;
  left: 150px
}

.images .benjamin img{
  width: 500px;
}

.presentation{
  max-width: 30%;
  padding: 30px 100px;
}

.presentation svg {
  fill: #fff500;
  width: 30px;
  margin-right: 10px;
}

.mail {
  display: flex;
  align-items: center;
}

